# Exported from Render on 2025-12-19T16:17:09Z
version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: magic-runner
      runtime: node
      repo: https://github.com/ToddKranenburg/email-helper
      plan: starter
      envVars:
      - key: GOOGLE_REDIRECT_URI
        sync: false
      - key: NODE_ENV
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: SESSION_SECRET
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      region: ohio
      buildCommand: npm run build
      startCommand: npm run start
      autoDeployTrigger: commit
